
<div class="container">
  <h1>Welcome back to Jonny's Noise!</h1>

</div>


<div class="images"><center>
  <!-- <img src="/images/djmixer.png" alt="DJ Mixer"> -->
  <img src="/images/guitar.png" alt="Guitar">
</center>
</div>
