<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jonny's Noise</title>
</head>
<body>
  <nav>
    <li><a href="/">Home Page</a></li>
    <li><a href="/customers">Current Customers</a></li>
    <li><a href="/customers/new">New Customer</a></li>
    <li><a href="/stock">Current Stock</a></li>
    <li><a href="/rentals">Current Rentals</a></li>
    <li><a href="/new_rental">New Rental</a></li>
  </nav>
<%= yield %>
</body>
</html>
