<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <title>Jonny's Noise</title>
</head>
<body>
    <p id="time"><%=Date.today%></p>
  <div class="dropdown">
    <button class="dropbtn"><a id="a2" href="/">Home Page</a></button>
    <!-- <div class="dropdown-content"> -->
      <!-- <ul><a href="/">Home Page</a></ul> -->

      </div>
      <!-- </div> -->
  <div class="dropdown">
    <button class="dropbtn"> Customers </button>
    <div class="dropdown-content">
      <ul><a href="/customers">Current Customers</a></ul>
      <ul><a href="/customers/new">New Customer</a></ul>
      </div>
      </div>
      <div class="dropdown">
      <button class="dropbtn"> Stock </button>
      <div class="dropdown-content">
        <ul><a href="/stock">Current Stock</a></ul>
        <ul><a href="/stock/new">Add New Stock</a></ul>
        </div>
        </div>
        <div class="dropdown">
        <button class="dropbtn"> Rentals </button>
        <div class="dropdown-content">
      <ul><a href="/rentals">Current Rentals</a></ul>
      <ul><a href="/rentals/new">New Rental</a></ul>
    </div>
    </div>



  <%= yield %>


</body>
</html>
