<form action="/stock/" method="post">

  <label for="item">Item:</label>
  <input id="item" type="text" name="item_name" />

  <label for="category">Category:</label>
  <input id="category" type="text" name="item_category" />

  <label for="price">Price:</label>
  <input id="price" type="text" name="price" />

  <label for="quantity">Quantity:</label>
  <input id="quantity" type="text" name="quantity" />


  <input type="submit" value="Add Stock Item">

</form>
