* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/images/djbackground.png");
  background-attachment: fixed;
  font-family: sans-serif;
  font; white;

}

p {
  font-size: 130%;
  color: white;
  padding-bottom: 8px;
  padding-top: 1px;
}

#p2 {
  color: #1be;
  size: 150%;
}


ul {
  margin: 0 10px;
  font-size: 25px;
  font-style: courier;
}

h1 {
  align: center;
  padding: 10px;
  margin-top: 70px;
  font: white;
  font-size: 350%;
  box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.4);
  border: solid;
  border-radius: 25px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #1be,
  -1px 1px 0 #000,
  1px 1px 0 #1be;
}

h2 {
  align: center;
  color: #1be;
  /* justify-content: flex-end; */
}

h3 {
  color: red;
}

.images {
display: flex;
flex-flow: row nowrap;
justify-content: center;
}

a, a:link, a:visited {
  color: violet;
  text-decoration: none;
}

#a2 {
  color: #1be;
}

form {
  width: 70%;
  height: 10%;
  font-size: 2vw;

  display: flex;
  flex-flow: row wrap;

  margin: 8px 0;

}

#p2 {
  font-size: 140%;
}

pre {
  font-size: 140%;
}


input[type=text] {
  width: 80%;
  padding: 9px 18px;
  margin: 30px 0;
  box-sizing: border-box;
  font-size: 90%;
  opacity: 0.9;
  border: 3px solid #1be;
  border-radius: 25px;
  display: flex;
  background-color: #1be0;
  color: white;

}

.rental_buttn {
  padding: 20px;
  margin: 20px;
}

.btn {
  border-top:		5px solid #1be;
  border-left:		5px solid #1be;
  border-right:		5px solid #1be;
  border-bottom:		5px solid #1be;
  border-radius: 25px;
  padding:		3px 8px !important;
  font-size:		80%; !important;
  background-color:	#1be0;
  font-weight:		bold;
  color: white;
  margin: 25px;
  margin-left: 10px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;

}
#btn2 {
  border-top:		5px solid #1be;
  border-left:		5px solid #1be;
  border-right:		5px solid #1be;
  border-bottom:		5px solid #1be;
  border-radius: 25px;
  padding:		5px 8px !important;
  font-size:		60%; !important;
  background-color:	#1be0;
  font-weight:		bold;
  color: white;
  margin: 10px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;

  /* margin: 25px;
  margin-left: 10px; */

}

.box {
  display: flex;
  flex-flow: column wrap;
  /* flex: 1; */
  border: solid 10px;
  border-color: #1be;
  border-radius: 15px;
  height: 45vh;
  width: 30vw;
  margin: 80px;
  padding: 20px;
  font: white;
  font-size: 120%;
  box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.4);
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.box2 {
  display: flex;
  flex-flow: column wrap;

  /* flex: 1; */
  border: solid 10px;
  border-color:	#1be;
  border-radius: 15px;
  height: 43vh;
  width: 30vw;
  margin: 100px;
  padding: 20px;
  font: white;
  font-size: 120%;
  box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.4);
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.box3 {
  display: flex;
  flex-flow: column wrap;
  /* flex: 1; */
  border: solid 10px;
  border-color:	#1be;
  border-radius: 15px;
  height: 35vh;
  width: 35vw;
  margin: 40px;
  padding: 20px;
  font: white;
  font-size: 100%;
  box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.4);
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.box4 {
  display: flex;
  flex-flow: column wrap;
  /* flex: 1; */
  border: solid 10px;
  border-color: #1be;
  border-radius: 15px;
  height: 30vh;
  width: 30vw;
  margin: 80px;
  padding: 20px;
  font: white;
  font-size: 120%;
  box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.4);
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.SubmitButton
{
  border-top:		2px solid #a3ceda;
  border-left:		2px solid #a3ceda;
  border-right:		2px solid #4f6267;
  border-bottom:		2px solid #4f6267;
  border-radius: 25px;
  padding:		10px 20px !important;
  padding-left: 5px;
  font-size:		90%; !important;
  background-color:	inherit;
  font-weight:		bold;
  color: white;
  margin: 25px;
  margin-top: 5vh;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.SubmitButton:hover {
  background-color: #1be;
}

label {
  padding: 20px;
}

#time {
  font-size: 200%;
  align-content: flex-end;
  opacity: 0.4;
}

.container {
  display: flex;
  flex-flow: row wrap;
  width: 90vw;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  color: white;
  font-weight: bold;
  padding: 60px;
  text-shadow:
  /* -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; */

}

#formstyle {
  margin-left: 2.5vw;
  display: grid;
  grid-template-columns: 30% auto;
  box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.4);
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;

}

#formstyle2 {
  margin-left: 5vw;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 20% auto;
  box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.4);
  font-size: 210%;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#rental_date {
  font-size: 100%;
  width: 35vw;
  background-color: #1be0;
  font-size: 100%;
  font: inherit;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  border: solid 3px;
  border-color:	#1be;
  border-radius: 10px;
  margin-top: 1vh;
  margin-bottom: 1vh;

}

.custom-select {
  position: relative;
  color: #1be;
}

/* .rental-items select {
width: 5vw;
} */

#customer_id {
  width: 35vw;
  background-color: #1be0;
  border: solid 3px;
  border-color:	#1be;
  font-size: 95%;
  font: inherit;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  border-radius: 25px;
  padding-top: 5vh;
  margin-top: 2vh;
}

#rental_items {
  width: 35vw;
  background-color: #1be0;
  font-size: 100%;
  font: inherit;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  border: solid 3px;
  border-color:	#1be;
  border-radius: 50px;
}

#reference {
  margin-top: 2vh;
}

#rental_reference {
  width: 35vw;
  padding-top: 1vh;
  background-color: #1be0;
  font-size: 100%;
  font: inherit;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  border: solid 3px;
  border-color:	#1be;
  border-radius: 10px;
  margin-top: 2vh;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.4);
  margin-bottom: 5vh;


}

.navbar a {
  float: left;
  font-size: 16px;
  color: #1be;
  text-align: center;
  padding: 5vh 5vw;
  text-decoration: none;
  opacity: 0.2;
  box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.4);
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #1be,
  -1px 1px 0 #000,
  1px 1px 0 #1be;

}

.dropdown {
  float: left;
  overflow: hidden;
  margin-top: 5vh;
  margin-left: 5vw;
}

.dropdown .dropbtn {
  display: flex;
  align-self: center;
  font-size: 60px;
  border: solid;
  border-radius: 25px;
  outline: none;
  color: #1be;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 50px;
  box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.4);

}

.navbar a:hover, .dropdown:hover .dropbtn {
  /* background-color: #1be; */
  /* opacity: 0.5; */
  border: solid;
  border-radius: 25px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1be0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* border: solid; */
  border-radius: 25px;
  border-color: white;



}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

  nav {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 15px;

  }

  ul {
    font-size: 15px;

  }

  .container {
    display: flex;
    flex-flow: column wrap;
    width: 90vw;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    font: white;

  }

  .box {
    flex: 1;
    border: solid 5px;
    border-color: #1be;
    border-radius: 15px;
    height: 25vh;
    width: 25vw;
    margin: 20px;
    padding: 20px;
    font: white;
  }
  .navbar {
    overflow: hidden;
    background-color: #333;
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: #1be;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 0.2;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    display: flex;
    align-self: center;
    font-size: 60px;
    border: solid;
    border-radius: 25px;
    outline: none;
    color: #1be;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 50px;

  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #1be;
    opacity: 0.2;
    border: solid;
    border-radius: 25px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1be;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: solid;
    border-radius: 25px;
    border-color: #09CEE8



  }

  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
