* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/images/djbackground.png");
  background-attachment: fixed;
  font-family: sans-serif;
  font; white;

}


ul {
  margin: 0 10px;
  font-size: 25px;
  font-style: courier;
}

h1 {
  display: flex;
  align-items: center;
  font: white;
  box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.4);
}

form {
  width: 70%;
  height: 10%;
  font-size: 2vw;

  display: flex;
  flex-flow: row wrap;

  margin: 15px 0;

}
input[type=text] {
  width: 80%;
  padding: 12px 20px;
  margin: 30px 0;
  box-sizing: border-box;
  font-size: 100%;
  opacity: 0.6;
  border: 3px solid #1be;
  border-radius: 25px;
  display: flex;

}

.btn {
  border-top:		5px solid #1be;
  border-left:		5px solid #1be;
  border-right:		5px solid #1be;
  border-bottom:		5px solid #1be;
  border-radius: 25px;
  padding:		1px 8px !important;
  font-size:		75%; !important;
  background-color:	#1be0;
  font-weight:		bold;
  color: white;
  margin: 25px;

}

.SubmitButton
{
  border-top:		2px solid #a3ceda;
  border-left:		2px solid #a3ceda;
  border-right:		2px solid #4f6267;
  border-bottom:		2px solid #4f6267;
  border-radius: 25px;
  padding:		10px 20px !important;
  font-size:		75%; !important;
  background-color:	#1be;
  font-weight:		bold;
  color: white;
  margin: 25px;
}

label {
  padding: 20px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  width: 90vw;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  color: white;
  font-weight: bold;
  padding: 40px;

}

.select {
  float: left;
  font-size: 16px;
  color: #1be;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  opacity: 0.2;

}

.box {
  display: flex;
  flex-flow: column wrap;
  /* flex: 1; */
  border: solid 15px;
  border-color: #1be;
  border-radius: 15px;
  height: 25vh;
  width: 25vw;
  margin: 80px;
  padding: 20px;
  font: white;
  font-size: 120%;
  box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.4);
}
.navbar {
  overflow: hidden;
  background-color: #333;
  box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.4);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #1be;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  opacity: 0.2;
  box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.4);

}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  display: flex;
  align-self: center;
  font-size: 60px;
  border: solid;
  border-radius: 25px;
  outline: none;
  color: #1be;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 50px;
  box-shadow: 0px 18px 25px 0px rgba(0,0,0,0.4);

}

.navbar a:hover, .dropdown:hover .dropbtn {
  /* background-color: #1be; */
  opacity: 0.2;
  border: solid;
  border-radius: 25px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1be0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* border: solid; */
  border-radius: 25px;
  border-color: white;



}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

  nav {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 15px;

  }

  ul {
    font-size: 15px;

  }

  .container {
    display: flex;
    flex-flow: column wrap;
    width: 90vw;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    font: white;

  }

  .box {
    flex: 1;
    border: solid 5px;
    border-color: #1be;
    border-radius: 15px;
    height: 25vh;
    width: 25vw;
    margin: 20px;
    padding: 20px;
    font: white;
  }
  .navbar {
    overflow: hidden;
    background-color: #333;
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: #1be;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 0.2;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    display: flex;
    align-self: center;
    font-size: 60px;
    border: solid;
    border-radius: 25px;
    outline: none;
    color: #1be;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 50px;

  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #1be;
    opacity: 0.2;
    border: solid;
    border-radius: 25px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1be;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: solid;
    border-radius: 25px;
    border-color: #09CEE8



  }

  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
