<form action="/rentals/" method="post">
  

  <label for="rental_name">Rental Reference:</label>
  <input id="rental_name" type="text" name="rental_name" />

  <label for="rental_items">Item(s) Rented:</label>
  <input id="rental_items" type="text" name="rental_items" />

  <label for="price">Price:</label>
  <input id="price" type="text" name="price" />

  <label for="rental_date">Date Rented:</label>
  <input id="rental_date" type="text" name="rental_date" />

  <label for="customer_id">Customer:</label>
    <select name="customer_id" id="customer_id">
      <% @customer.each do |customer| %>
          <option value=<%= customer.id %>><%= customer.name %></option>
      <% end %>
    </select>

  <label for="stock_id">Stock Item:</label>
    <select name="stock_id" id="stock_id">
      <% @stock.each do |stock| %>
          <option value=<%= stock.id %>><%= stock.item_name %></option>
      <% end %>
    </select>


  <input type="submit" value="Add Rental">

</form>
