<div class="container">


<% for customer in @customers %>
<div class="box">

<p id="p2">Name: <%= customer.name%> </p>
<p id="p2">Phone: <%= customer.phone%></p>


<form action="/customers/<%= customer.id %>/show" method="get">
  <input class="btn" type="submit" value="View Customer" />
</form>

</div>
<% end %>
</div>
